{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="grid" style="margin-left: 20px; margin-right: 20px;">
    <div class="grid-sizer"></div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
    <div class="grid-item" style=" padding: 0;">
        <img style="display: block; max-width: 100%;" src="{% static 'images/tomatoes.jpg' %}">
    </div>
</div>
{% endblock %}